// 列表
.v-table {
  border-collapse: collapse;
  color: #797979;
  width: 100%;
  min-width: 400px;
  // margin-bottom: 150px;
  tr {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    border-bottom: 1px solid rgb(180, 186, 192);
    &:nth-child(even) {
      background-color: #F9F9F9;
    }
    th,
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: start;
      border-bottom: 0;
      padding-left: 20px;
      line-height: 50px;
      flex: 1;
      margin-right: -1px;
    }
    th {
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid rgb(180, 186, 192);
    }
  }
}

.v-table_border {
  border-collapse: collapse;
  color: #797979;
  width: 100%;
  min-width: 400px;
  tr {
    margin:0px 0px -1px -1px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    &:nth-last-of-type(1) {
      border-bottom: 1px solid rgb(180, 186, 192);
    }
    th,
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 1px solid rgb(180, 186, 192);
      text-align: start;
      border-bottom: 0;
      padding-left: 20px;
      line-height: 50px;
      flex: 1;
      margin-right: -1px;
      box-sizing: border-box;
    }
    th {
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid rgb(180, 186, 192);
      color: rgb(189, 189, 189);
      background-color: rgb(136, 136, 136);
    }
  }
  .second {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    .inside {
      width: 100%;
      line-height: 60px;
      display: flex;
      border-bottom: 1px solid #eee;
      flex-direction: row;
      li {
        text-align: center;
        flex: 1;
      }
    }
  }
}

// 弹窗
.v-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  .container {
      position: relative;
      width: 550px;
      min-height: 350px;
      // background-color: #fff;
      background-color: #EEEFF3;
      border-radius: 10px;
      padding-bottom: 30px;
      box-shadow: 0px 0px 10px 5px #666;
      .exit {
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;
        width: 20px;
      }
      .img {
          text-align: center;
          width: 100%;
          height: 110px;
          line-height: 150px;
          h3 {
              font-size: 20px;
              font-weight: bold;
          }
          .info {
              margin-top: 20px;
              width: 70px;
          }
      }
      .title {
          width: 100%;
          text-align: center;
          font-size: 22px;
          color: #666;
      }
      .form {
          text-align: center;
          .v-input {
              margin: 25px;
          }
          .item {
              display: flex;
              // height: 50px;
              line-height: 30px;
              justify-content: center;
              input {
                  border: 0;
                  padding: 10px;
                  width: 300px;
                  height: 20px;
                  margin: 20px;
                  margin-top: 30px;
                  box-shadow: 0 0 10px 2px rgb(202, 202, 202);
              }
              &:nth-of-type(2) {
                  span {
                      height: 40px;
                      line-height: 40px;
                  }
                  input {
                      margin-top: 10px;
                  }
              }
          }
      }
      .button {
          position: absolute;
          right: 20px;
          bottom: 20px;
          button {
              cursor: pointer;
              width: 50px;
              font-size: 14px;
              color: #666;
              border: 0;
              outline: none;
              // background-color: #fff;
              background-color: #EEEFF3;
              &:hover {
                  color: #000;
              }
          }
      }
  }
}

// 按钮
.v-button {
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 5px;
  min-width: 50px;
  min-height: 30px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 0px;
}
.b-primary {
  color: #fff;
  background-color: #46b8ed;
  &:hover {
    background-color: #8fcce8;
  }
  &:active {
    background-color: #1e99d3;
  }
}
.b-success {
  color: #fff;
  background-color: #67c23a;
}
.b-info {
  color: #fff;
  background-color: #909399;
}
.b-warning {
  color: #fff;
  background-color: #e6a23c;
}
.b-danger {
  color: #fff;
  background-color: #f56c6c;
}
.b-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  &:hover {
    opacity: 0.4;
  }
}
.b-small {
  font-size: 16px;
  min-width: 80px;
  min-height: 40px;
}
.b-medium {
  min-width: 100px;
  min-height: 50px;
}
.b-dlarge {
  font-size: 22px;
  min-width: 140px;
  min-height: 70px;
}

// 输入框
.v-input {
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  &::-webkit-input-placeholder {
    color: #c5c5c5;
  }
  &:focus {
    border: 1px solid rgb(70, 184, 237);
  }
}

// 单选框
// .v-radio {
//   position: relative;
//   border-radius: 4px;
//   width: 17px;
//   height: 17px;
//   &::before {
//     content: "";
//     position: absolute;
//     width: 17px;
//     height: 17px;
//     background-color: rgb(70, 184, 237);
//   }
// }
.v-radio {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  position: relative;
}
.v-radio:after {
  position: absolute;
  width: 9px;
  height: 15px;
  top: 0;
  content: " ";
  border-radius: 4px;
  background-color: rgb(70, 184, 237);
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
}
.v-radio:checked:before {
  content: url('../assets/Register/true.svg');
  display: block;
  position: relative;
  top: 1px;
  left: 2px;
  color: #fff;
  font-weight: 400;
  z-index: 1;
}

.v-select {
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.container_default {
  position: relative;
  background-color: #fff;
  margin: 0 30px 0 30px;
  // max-width: 1600px;
  min-width: 800px;
  margin-top: 20px;
  .title {
      height: 60px;
      line-height: 60px;
      padding-left: 15px;
      color: #000;
      font-size: 22px;
      border-bottom: 1px solid #eee;
  }
}
.container_cover {
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 90;
    opacity: 0.8;
  }
}